@charset "utf-8";

/*--------------
  リセットCSS
--------------*/
*{
    padding: 0;
    margin: 0;
}
a{
    color: var(--primary-color);
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/*--------------
  共通部分
--------------*/
:root{
    --color-surface:#ffffff;
    --primary-color: #333;
    --secondary-color: #b9ad68;

    --base-padding: 30px;
    --base-margin: 30px;
}
body{
    color: var(--primary-color);
    background-color: var(--color-surface);
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}
h2{
    font-size: clamp(22px,3.2vw,36px);
    margin-bottom: var(--base-margin);
}
/*--------------
  ヘッダー
--------------*/
header{
    text-align: center;
    padding: var(--base-padding);
    background-color: var(--secondary-color);
}
header h1{
    font-size: clamp(28px,6vw,70px);
    margin-bottom: var(--base-margin);
}
header nav ul{
    display: flex;
    justify-content: space-around;
}
header nav ul a{
    font-weight: 600;
    border-radius: 6px;
    transition: background-color 0.3s;
    padding: 20px;
}
header nav ul a:hover{
    background-color: #d9d7c2;
}